<!doctype html>
<html ng-app>
<head>
  <meta charset="utf-8">
</head>
<body>
  <div ng-controller="CommonController">
    <div ng-controller="Controller1">
      <p>{{greeting.text}},Angular</p>
      <button ng-click="test1()">test1</button>
    </div>
    <div ng-controller="conroller2">
      <p>{{greeting.text}},Angular</p>
      <button ng-click="test2()">test2</button>
    </div>
    <button ng-click="commonFn()">通用</button>
  </div>
</body>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="MVC.js"></script>
</html>
